<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion</title>
</head>
<body>
    <div class="container">
        <div class="" style="text-align: center;">
            <ul> <a href="{% url 'connexion' %}" style="text-decoration: none;">Page d'acceuille</a></li>
        </div>
        <div class="container" style="width: 550px;margin-left:28%;">
            <hr>
            <hr>
            <hr>
        </div>
        <h5 style="text-align: center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Cher admin prenez soin de ne reveler a personne votre nouveau mot de passe</h5>
        <form method="post" style="margin-left: 25%; border:1px solid black; height:75px ;margin-right:25%; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-top:30px;border-radius:25px;box-shadow:6px 7px 6px 7px;">
            {% csrf_token %}
            <div class="" style="margin-top: 20px;">
                <input type="text" name="password" placeholder="Mot de passe" style="margin-left: 17%;">
                <input type="text" name="confirm_password" placeholder="Confirmation du mot de passe">
                <button type="submit">soumettre</button>
            </div>
        </form>
        
    </div>
</body>
</html>