{% extends "base.html" %}
{% block title %}T.T.G Network - Moyenne Étudiant{% endblock %}

{% block content %}
  <hr>
  <h2>Moyenne de {{ etudiant.user.username }}</h2>

{% if message %}
  <p>{{ message }}</p>
{% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Matière</th>
        <th>Note</th>
        <th>Coefficient</th>
        <th>Note pondérée</th>
      </tr>
    </thead>
    <tbody>
      {% for note in notes %}
        <tr>
          <td>{{ note.matiere }}</td>
          <td>{{ note.valeur }}</td>
          <td>{{ note.coefficient }}</td>
          <td>{{ note.ponderee }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p><strong>Moyenne générale :</strong> {{ moyenne }}</p>
{% endif %}

{% endblock %}